{{ define "criado" }}
    <i class="fa-solid fa-check"></i>
{{ end }}

{{ define "enviado" }}
    <i class="fa-solid fa-check-double"></i>
{{ end }}

{{ define "recebido" }}
    <i class="fa-solid fa-check-double text-success"></i>
{{ end }}

{{ define "deletar-mensagem" }}
    <i class="fa-solid fa-x deletar-mensagem" style="cursor: pointer;"></i>
{{ end }}

{{ define "mensagem-remetente" }}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-primary">
        <p class="mb-1"> 
            <i>{{ .Mensagem }}</i>
            <small> 
                {{ .CriadoEm.Format "02/01/2006" }} {{ template "check" . }} 
            </small>  
        </p>
    </a>
{{ end }}

{{ define "mensagem-destinatario" }}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <p class="mb-1">
            <i>{{ .Mensagem }}</i>
            <small class="text-muted">
                {{ .CriadoEm.Format "02/01/2006" }} 
            </small>
        </p>
    </a>
{{ end }}

{{ define "check" }}
    {{ if (eq .EnviadoEm "NULL") }}
        {{ template "criado" }}    
    {{ else if (eq .RecebidoEm "NULL") }}
        {{ template "enviado" }}
    {{ else }}        
        {{ template "recebido" }}
    {{ end}}
{{ end }}

{{ define "mensagem-remetente-usuario" }}
    <a href="/mensagem-seguidor/{{ .RemetenteID }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ .RemetenteNick }}</h5>
            <small> {{ .CriadoEm.Format "02/01/2006" }} </small>  
        </div>
        <p class="mb-1"> 
            <i>{{ .Mensagem }}</i>
        </p>
    </a>
{{ end }}

{{ define "mensagem-destinatario-usuario" }}
    <a href="/mensagem-seguidor/{{ .DestinatarioID }}" class="list-group-item list-group-item-action flex-column align-items-center">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ .DestinatarioNick }}</h5>
            <small> {{ .CriadoEm.Format "02/01/2006" }} </small>  
        </div>
        <p class="mb-1">
            <i>{{ .Mensagem }}</i>
        </p>
    </a>
{{ end }}
