<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Minhas Mensagens</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
</head>

<body>
 
    {{ template "cabecalho" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Mensagens</h3>
                <div class="list-group">                
                    {{ range .Mensagens }}
                        {{ if (eq .RemetenteID $.UsuarioLogadoID) }}
                            {{ template "mensagem-destinatario-usuario" . }}
                        {{ else }}
                            {{ template "mensagem-remetente-usuario" . }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ template "rodape" }}

    {{ template "scripts" }}

</body>

</html>
